__pycache__
.Coo_dataset
.ipynb_checkpoints
.vscode
caption_datasets
exp
flicker8k-dataset
models
exp
modules_old
runs
web_app/models
BEST_checkpoint_Vocab_5_cap_per_img_2_min_word_freq_withoutFineTuning.pth.tar
checkpoint_Vocab_5_cap_per_img_2_min_word_freq_yesturday.pth.tar
checkpoint_Vocab_5_cap_per_img_2_min_word_freq.pth.tar
Main-checkpoint.ipynb
main-Finalized_LanguageModel.ipynb
nb_prepare_WordEmb.py
BEST_checkpoint_Vocab_5_cap_per_img_2_min_word_freq.pth.tar
Article.md
Untitled.ipynb
