{% extends "base.html" %} {% block content %}

<h2 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Image Caption Generator</h2>


<div>
    <form style="text-align: center;" action="/predict" id="upload-file" method="POST" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label" style="font-family:monospace ;">
            Upload
        </label>

        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div style="text-align: center;" class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div style="text-align: center;">
            <button type="button" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif" class="btn btn-primary btn-lg " id="btn-predict">Generate</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result" style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
        <span id='prediction'> </span>
    </h3>

</div>

<script type="text/javascript">
    $('.image-section').hide();
    $('.loader').hide();
    $('#result').hide();

    // Upload Preview
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#imageUpload").change(function () {
        $('.image-section').show();
        $('#btn-predict').show();
        $('#result').text('');
        $('#result').hide();
        readURL(this);
    });

    function fetchdata(){
        var form_data = new FormData($('#upload-file')[0]);

        // Show loading animation
        $(this).hide();
        $('.loader').show();

        // Make prediction by calling api /predict
        $.ajax({
            type: 'POST',
            url: '/predict',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            async: true,
            success: function (data) {
                // Get and display the result
                $('.loader').hide();
                $('#result').fadeIn(600);
                $('#result').text(data);
                console.log('Success!');
    },
});
    }



    $('#btn-predict').click(function(){fetchdata()});
</script>

{% endblock %}
